.btn{
    border-radius: 50px;
    padding: 0 26px;
    background: linear-gradient(45deg, #039be5 0%, royalblue 100%);
    background: -moz-linear-gradient(45deg, #039be5 0%, royalblue 100%);
    background: -webkit-linear-gradient(45deg, #039be5 0%, royalblue 100%);
}
.mg{
    margin-top: 50px;
}
.card-title {
    background: linear-gradient(45deg, #039be5 0%, royalblue 100%);
    background: -moz-linear-gradient(45deg, #039be5 0%, royalblue 100%);
    background: -webkit-linear-gradient(45deg, #039be5 0%, royalblue 100%);
    color: #ffffff;
}
.iwrapper{
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}
.rotate  {
    transform: rotateY(180deg);
}
.rotateb {
    transform: rotateY(0deg);
    z-index: 3;
}
.front, .back {
    width: 100%;
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
    display: none;
}

.card .card-content {
    padding: 24px;
}

.card .card-title {
     padding: 10px;
    border-radius: 7px;
}

.login-link:hover{
    text-decoration: underline;
}

.invalid-feedback{
    color:red;
}

.login-error, .register-error{
    color:red !important;
}