/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav{
  background:#186ec7;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #186ec7;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
background: #186ec7;
}


.card .card-content{
  padding:0px ;
}

.card  .card-content .card-title{
  padding:12px 12px 8px 12px;
  background: #186ec7;
  color:white;
  margin-bottom: -0.3em !important;
}

.card .card-inner{
  padding: 24px;
}

textarea.materialize-textarea#abstractTA{height: 8rem;}

.asterisk{
  color:red;
}

.edit-content{
  color:#186ec7;
}

.delete-content{
  color:red;
}

.education-error, .job-error, .reference-error, .file-error, .people-error, .reset-error{
  color:red !important;
}

.file-success, .reset-success{
  color:teal !important;
}

:disabled{
  color:#186ec7 !important;
}


#download-files:hover{
  cursor: pointer;
  color:#186ec7;
}
.fix-section {
    overflow-y: scroll;
    height: 100vh;
}
body {
    overflow-y: hidden;
}